/* Custom properties */
:root{
    --white: #FFFFFF;
    --black: #000000;
    --green: #93D82D;
    --dark-grey: #282828;
    --grey: #808080;
    --light-grey: #A3A3A3;
    --dark-blue: #141922;
  }
  
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Generics */
  body {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
  }

  aside {
    background-color: var(--black);
    width: 70px;
  }

  main {
    background-color: blue;
    width: calc(100% - 70px);
  }

  header {
    background-color: rgba(0,0,0,0.5);
    height: 80px;
    position: fixed;
    top: 0;
    width: calc(100% - 70px);
    z-index: 1;
  }

  footer {
    background-color: red;
    height: 80px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  img {
    display: block;
    max-width: 100%;
  }

  /* Utils */
  .flex {
    display: flex;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
  }

  .column {
    flex-basis: 50%;
    padding: 5px;
  }

  .card {
    min-height: 200px;
    background-color: yellow;
  }

  .section {
    margin-top: 20px;
  }

  .capital {
    text-transform: capitalize;
  }


  /* Main */
  
  /* Main content */
  .main-content {
    padding: 80px 10px;
    overflow-y: auto;
    height: calc(100vh - 80px);
  }

  /* Navbar */
  .card-title {
    background-color: green;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
  }

  /* Footer */
  .footer-left, .footer-right {
    display: flex;
    flex-basis: 30%;
    background-color: orange;
  }

  .footer-center {
    flex-basis: 40%;
    background-color: greenyellow;
  }


  









  /************ RESPONSIVE ************/

  /* !Responsive Layout xs - 576px */
  

  /* !Responsive Layout xs - 768px */
  @media screen and (min-width: 768px){
  
    aside {
        width: 200px;
      }
    
    main {
        width: calc(100% - 200px);
    }
    
    header {
        width: calc(100% - 200px);
    }

    .footer-left, .footer-right {
        flex-basis: 20%;
    }
    
    .footer-center {
        flex-basis: 60%;
    }
    
  }


  /* !Responsive Layout xs - 992px */
  @media screen and (min-width: 992px){
    .column {
        flex-basis: 25%;
    }

  }

  /* !Responsive Layout xs - 1200px */
  @media screen and (min-width: 1200px){
    .column {
        flex-basis: calc(100% / 6);
    }

    .footer-left, .footer-right {
        flex-basis: 17%;
    }
    
    .footer-center {
        flex-basis: 66%;
    }

}

  /* !Responsive Height - 350px */
  




